.home-business-wrapper .header-top{background: #313030;}
.header-top{background: #474646;}
.facebii{
padding: 8px;
background: #225098;
border-radius: 100%;
height: 32px;
width: 32px;
display: flex;
justify-content: center;
align-items: center;
}

.twitt{
padding: 8px;
background: #000;
border-radius: 100%;
height: 32px;
width: 32px;
display: flex;
justify-content: center;
align-items: center;
}
.linkss{
padding: 8px;
background: #0a66c2;
border-radius: 100%;
height: 32px;
width: 32px;
display: flex;
justify-content: center;
align-items: center;
}
.insttt{
padding: 8px;
background: #c32aa3;
border-radius: 100%;
height: 32px;
width: 32px;
display: flex;
justify-content: center;
align-items: center;
}

.whats{
  padding: 8px;
background: #25D366;
border-radius: 100%;
height: 32px;
width: 32px;
display: flex;
justify-content: center;
align-items: center;
}

.google{
  padding: 8px;
background: #DB4437;
border-radius: 100%;
height: 32px;
width: 32px;
display: flex;
justify-content: center;
align-items: center;
}

.header-icons{
  display: flex;
  align-items: center;
}





.header-top .header-icons a {color: #fff;}
.header-top .header-info a{color: #fff;}
.header-top + .header-area {padding: 15px 0;}
.navigation-area {
    margin-left: 220px;
}
.home-business-wrapper .header-area.sticky-header .header-navigation-area {
    margin-left: 152px;
}
.header-area.header-right-align .header-right .header-navigation-area {
     margin-left: 152px;
}
.section-title .desc p{font-size: 20px;text-align: justify;}

.service-area.service-agency-area {
    padding: 80px 0 0px;
}
.textjusi p{text-align: justify;}
.textjusi span{font-weight: 400;margin-left: 4px;}
p {
    margin-bottom: 15px;
}
.marot50px{margin-top:50px;}
.cols1{font-size: 19px;}
.cols2{font-size: 18px;color: green;}
.icon-box-style8 .icon-box-item{padding: 97px 27px 14px;}
ul.lebox{margin:0;padding:0;display:flex;}
ul.lebox li{margin:0;padding:0;display:block;list-style:none;background: #fff;padding: 25px;margin-right: 22px;margin-bottom: 18px;width:30%;width: 253px;}
ul.lebox li h4{font-size: 21px;color: #000;margin-top: 20px;}
ul.lebox li span{font-size:18px;}
ul.lebox li img{max-width:100%;}
.footer-area{border-top: 1px solid #ccc;}
.parag{font-size: 20px;line-height: 35px;}
.seobg{background:url(../img/image-3.jpg) no-repeat;}
.colorr{color:#fff;}
.lazy{animation: float 5s ease-in-out infinite;margin-top: 30px;}
@keyframes float{
	0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
}
50% {
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
}
100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
}
}
.loweb{padding:15px;border-radius: 5px;width:181px;height: 200px;margin: 0 auto;padding-top: 28px;margin-bottom: 60px;margin-top: 45px;}
.loweb h4{color: #fff;font-size: 25px;text-align: center;padding-top: 18px;text-transform: uppercase;}
.loweb img{width: 100px;}
.bg11{background: #FFCB45;}
.bg1{background: #25C16F;}
.bg2{background: #FF5969;}
.bg3{background: #08C7FB;}
.executebox{background: url(../img/About-CallToAction-Background-Image.jpg);width:100%;height: 369px;margin-top: 42px;}
.executebox1 img{max-width:100%;margin-top: 8%;}
.executebox1 h3{font-size: 32px;color: #fff;padding-top: 5%;line-height: 50px;}
.executebox1 p{color:#fff;font-size: 22px;margin-top:15px;}
ul.vlist{margin:0;padding:0;}
ul.vlist li{margin:0;padding:0px 0;display:block;list-style:none;font-size:18px;position:relative;padding-bottom: 41px;padding-left: 65px;margin-bottom: 10px;}
ul.vlist li img{position:absolute;left:0;top:0;}

ul.vlist1{margin:0;padding:0;padding-bottom: 75px;}
ul.vlist1.vlist12{margin:0;padding:0;padding-left: 100px;}
ul.vlist1 li{margin:0;padding:0px 0;display:block;list-style:none;font-size:19px;position:relative;padding-bottom: 20px;padding-left: 42px;margin-bottom: 10px;color: #fff;}
ul.vlist1 li img{position:absolute;left:0;top:0;max-width:30px;}
.bgorange{background:url(../img/image-1.jpg);width:100%;background-size:cover;}
.section-title.textjusi1{margin-bottom:0;}
.section-title.textjusi1 .title{text-align:center;color:#fff;}
h4.elink{font-size: 15px !important;}
.footer-area .widget-menu-wrap .nav-menu li a {
    color: #444141;}
.contact-info-item.item-style-two h4 {margin-left: 10px;}
.contact-info-item h4{text-transform: capitalize;}
.team-area.team-divider-area {background-color: #f5f5f5;padding: 46px 0 0;}
.section-title .desc p.nom{margin-bottom: 10px;}
.section-title.nomf{margin-bottom: 10px;}
.teamlower{margin: 25px 0;}
.teamlower h4{font-size:44px;}
.teamlower p{font-size:20px;text-align: justify;margin-top: 24px;}
ul.vlist1.vlist12.marl{padding-left:0;}
ul.vlist1 li.displin{display: inline-block;color:#444141;margin-right: 10px;}
.loweb.loweb2{width: 281px;height: 215px;}
.inerwork{width:80%;margin:0 auto;}
.desc p.fontsii{font-size:20px;text-align:justify;line-height: 36px;}
.portfolio-item .inner-content .portfolio-overview {margin-top: 50px;}
.page-portfolio-details-wrapper .about-area.about-online-marketing-area {padding-bottom:50px;}
.about-area.about-online-marketing-area .thumb img{position:relative;}
.footer-area .about-widget .footer-logo {display: block;margin-bottom: 25px;}
.contact-form-area .title {margin-bottom:0px;}
.contausbox{background:#F4CCCC;padding:55px;}
.contausbox h3{font-size:25px;margin-bottom: 25px;}
.contausbox h4{font-size:18px;margin-bottom: 25px;}
.contausbox p{font-size:16px;}
.contact-form-area .contact-form-content form .form-group textarea{margin-bottom: 0px;min-height: 194px;}
.team-member{box-shadow:none;text-align: center;}
.team-member .thumb img {
    width: 85%;
    border-radius: 100%;
    margin: 0 auto;
}
.footer-area {
    background-color: #f0f2f4;
    padding: 117px 0 25px;
}
.cettif{width:100%;text-align: right;}
.cettif img{max-width:75%;}
.footer-area .footer-bottom{padding-top: 20px;}
.about-area.about-online-marketing-area .section-title {margin-top: 0px;}
.page-portfolio-details-wrapper .about-area.about-online-marketing-area {
    padding-bottom: 0px;
}
.feature-area.feature-business-area {
    padding: 50px 0 46px;
}
.service-area.service-business-area {
    padding: 96px 0;
}
.footer-area {
    background-color: #f0f2f4;
    padding: 60px 0 25px;
}
.widget-item {
    margin-bottom: 12px;
}
.team-area.team-business-area {
    background-color:none;
    padding: 67px 0 0;
}
.section-title .title.mrff{margin-bottom: 5px;}
.team-area.team-business-area .section-title .desc .btn-link{border: 2px solid;
padding: 10px 25px;
background: #FFB0AF;color:#fff;}



#testimonial_carousel .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  #testimonial_carousel .owl-nav button.owl-prev {
    left: 0;
  }
  #testimonial_carousel .owl-nav button.owl-next {
    right: 0;
  }
  
  #testimonial_carousel .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  #testimonial_carousel .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  #testimonial_carousel .owl-dots button.owl-dot.active {
    background-color: #000;
  }
  #testimonial_carousel .owl-dots button.owl-dot:focus {
    outline: none;
  }
  #testimonial_carousel .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #ffb0af !important;

  }
  #testimonial_carousel span {
      font-size: 70px;    
      position: relative;
      top: -5px;
  }
  #testimonial_carousel .owl-nav button:focus {
      outline: none;
  }

  .testimonial_box{
    border-radius: 10px;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding: 10px 20px;
margin: 5px;
min-height: 252px;
display: flex;
flex-direction: column;
justify-content: center;
  }

  .testimonial_icon{
    background-color: #fff;
    font-size: 18px!important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .success_story_wrapper{
    background-image: url('/assets/img/bg.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    padding: 50px;
    background-position: center;
   
  }

  .lp_banner{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(0deg, rgb(255 176 175 / 79%), rgb(255 176 175 / 77%)),url('/assets/img/diverse-people-working-office.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .bg-grey{
    background-color: #FBFAFB;
  }

  @media (max-width:768px) {
    .how-work-img img{
        width: unset!important;
        margin: auto;
    }
    .how-work-img{
        text-align: center;
    }
    .testimonial_box{
      padding: 17px 40px;
    }
  }

  .icons a {
    display: inline-flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 40px;
    margin: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  
    background-size: 100% 200%;
    background-position: 0% 5%;
  
    transition: background-position 0.5s, color 0.5s;
  }
  
  .icons a:nth-child(1) {
    color: #1877f2;
    background-image: linear-gradient(#fff 50%, #1877f2 50%);
  }
  
  .icons a:nth-child(2) {
    color: #000;
    background-image: linear-gradient(#fff 50%, #000 50%);
  }
  
  .icons a:nth-child(3) {
    color: #c32aa3;
    background-image: linear-gradient(#fff 50%, #c32aa3 50%);
  }
  
  .icons a:nth-child(4) {
    color: #0a66c2;
    background-image: linear-gradient(#fff 50%, #0a66c2 50%);
  }
  .icons a:nth-child(5) {
    color: #25D366;
    background-image: linear-gradient(#fff 50%, #25D366 50%);
  }
  .icons a:nth-child(6) {
    color: #DB4437;
    background-image: linear-gradient(#fff 50%, #DB4437 50%);
  }
  
  .icons a:hover {
    background-position: 0% 100%;
    color: #fff;
  }

  ._cUP1np9gMvFQrcPftuf.xahN8AEzyAvQtVj17TPv{
    margin-top: 0px!important;
  }

  .why_choose .icon-img{
    width: 100px!important;
  }

  .how_work_box{
    position: relative;
  }

  .how_work_box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #D9D9D9 -5.95%, rgba(217, 217, 217, 0.00) 136.56%);
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .hw-box{
    position: relative;
    z-index: 99;
    padding: 10px;
  }
  
  .ic-box{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px!important;
    padding: 15px!important;
  }
  .lp_ban img, .business-image img{
    border-radius: 10px;
  }

  .worked_for_box{
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px!important; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 15px!important;
    margin: 10px;
    border: 1px solid #ffb0af;
    border-radius: 10px;
  }
  .worked_for_carousel{
    margin-bottom: 20px;
  }
  .round-img{
    border-radius: 10px;
  }
  .footer_number a{
    color: #444141;
    /* text-decoration: none; */
  }